<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail</title>
    <link rel="stylesheet" href="/show.css">
</head>
<body>
    <div class="container">
        <h1>Here is your post in detail</h1>
        <div class="post-detail-card">
            <h3 class="post-id">Post ID: <%= post.id %></h3>
            <h3 class="post-username">User: <%= post.username %></h3>
            <h4 class="post-content">Content: <%= post.content %></h4>
        </div>
    </div>
</body>
</html>
